body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin: 0;
}

a {
  word-break: break-word;
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  margin: 15px;
}

#results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
